extends layout

block content
    script(src='http://maps.google.com/maps/api/js?key=AIzaSyAmhHjISB0MUEDdB5-5OCbfuxmXwqVibSE')
    script(src='/javascripts/map.js')

    h1 create note

    #map

    form(id='createNoteForm' action='/api/v1/create_note' method='POST')    
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='text' id='noteTxt' required autofocus)
            label.mdl-textfield__label(for='noteTxt') note

            input(type='hidden' id ='latTxt')
            input(type='hidden' id ='lngTxt')
        div
            input.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit' id='createNoteBtn' value='create note')

    script(src='javascripts/controllers/create_note_controller.js')