extends layout

block content
    script(type = 'text/javascript', src='javascripts/controllers/notes.controller.js')

    div(ng-app='notes' ng-controller='NotesCtrl')
        p1 Create note
        form(ng-submit='createNote()')
            div.form-group
                label.control-label(for = 'note') note
                input.form-control(type = 'text', id='note', ng-model='note')
            div.form-group
                button.btn.btn-primary(type = 'submit') create note