extends layout

block content

    script(src='/javascripts/location.js')
    
    .mdl-grid
        .mdl-card.mdl-shadow--4dp.new-note-card
            form(name='createNoteForm' action='/process_note_creation' method='POST')
                .mdl-card__title
                    label.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect add a picture    
                        input(type='file' id='picture' name='picture' capture='camera' accept='image/*' style='display: none;')
                
                    img(src='' alt='' id='showPictureDiv')

                .mdl-card__supporting-text
                    input(type='hidden' id='lat' name='lat')
                    input(type='hidden' id='lng' name='lng')

                    .mdl-textfield.mdl-js-textfield
                        textarea.mdl-textfield__input(type='text' id='note' name='note' rows='3' maxlength='140')
                        label.mdl-textfield__label(for='note') your message...
        
                .mdl-card__actions.mdl-card--border
                    input#create-button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(type='submit' value='create note')

    script(src='javascripts/controllers/create_note_controller.js')