doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/material-design-lite/material.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/material-design-lite/material.min.js')
    script(src='https://www.gstatic.com/firebasejs/3.7.5/firebase.js')
    script.
      var config = {
        apiKey: "AIzaSyA4ZcvShNm5WU93q2hlxwp_73gefQaSY6c",
        authDomain: "notesintheair-160023.firebaseapp.com",
        databaseURL: "https://notesintheair-160023.firebaseio.com",
        projectId: "notesintheair-160023",
        storageBucket: "notesintheair-160023.appspot.com",
        messagingSenderId: "581730209736"
      };
      
      firebase.initializeApp(config);

  body
    .mdl-layout.mdl-js-layout
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title notesintheair
          .mdl-layout-spacer
          nav.mdl-navigation
            a.mdl-navigation__link(href = '/create_note') create note
            a.mdl-navigation__link(href = '/login') login
      .mdl-layout__drawer
        .span.mdl-layout-title notesintheair
        nav.mdl-navigation
          a.mdl-navigation__link(href = '/create_note') create note
          a.mdl-navigation__link(href = '/login') login
    
    main.mdl-layout__content.custom_content
      block content