doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')

    script(type = 'text/javascript', src='/bower_components/jquery/dist/jquery.min.js')
    script(type = 'text/javascript', src='/bower_components/angular/angular.min.js')
    script(src='https://www.gstatic.com/firebasejs/3.7.0/firebase.js')
    script(src='https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js')
  body
    .container
      block content
