doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')

    script(src='https://www.gstatic.com/firebasejs/3.7.5/firebase.js')
    script.
      var config = {
        apiKey: "AIzaSyA4ZcvShNm5WU93q2hlxwp_73gefQaSY6c",
        authDomain: "notesintheair-160023.firebaseapp.com",
        databaseURL: "https://notesintheair-160023.firebaseio.com",
        projectId: "notesintheair-160023",
        storageBucket: "notesintheair-160023.appspot.com",
        messagingSenderId: "581730209736"
      };
      
      firebase.initializeApp(config);

    script(src='/bower_components/jquery/dist/jquery.min.js')
  body
    .container
      block content
