doctype html
html
  head
    title notes in the air
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/bower_components/material-design-lite/material.min.css')
    link(rel='stylesheet' href='/bower_components/firebaseui/dist/firebaseui.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  
    script(src='https://www.gstatic.com/firebasejs/3.7.5/firebase.js')
    script.
      var config = {
        apiKey: "AIzaSyA4ZcvShNm5WU93q2hlxwp_73gefQaSY6c",
        authDomain: "notesintheair-160023.firebaseapp.com",
        databaseURL: "https://notesintheair-160023.firebaseio.com",
        projectId: "notesintheair-160023",
        storageBucket: "notesintheair-160023.appspot.com",
        messagingSenderId: "581730209736"
      };
      
      firebase.initializeApp(config);

    script(src='/bower_components/firebaseui/dist/firebaseui.js')
    script.
      // FirebaseUI config.
      var uiConfig = {
        signInSuccessUrl: '/home',
        signInOptions: [
          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          firebase.auth.EmailAuthProvider.PROVIDER_ID
        ]
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);

      firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/login', true);
          xhr.setRequestHeader('Content-type', 'application/json');
          xhr.send(JSON.stringify({'user': user}));
        }
      });

  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--waterfall.site-header
        .mdl-layout__header-row.site-logo-row
          span.mdl-layout__title
            div thiago
            span.site-description notesintheair

      main.mdl-layout__content
        .site-content
          .container#firebaseui-auth-container

      footer.mdl-mini-footer
        .footer-container
          .mdl-logo &copy; Unitiled. Design:
            a(href='www.google.com') thiagosenador
            
    script(src='/bower_components/material-design-lite/material.min.js')