extends layout

block content
    div
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='text' id='txtEmail' required autofocus)
            label.mdl-textfield__label(for='txtEmail') email
    div
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type='password' id='txtPassword' required autofocus)
            label.mdl-textfield__label(for='txtPassword') password

        div
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(id='btnLogin') log in
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(id='btnSignup') sign up
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(id='btnLoginGoogle') log in with google
    
    script(src='javascripts/controllers/login_controller.js')