extends layout

block content
    div
        p1 login

        input(type='text' id='txtEmail' class='form-control' placeholder='Email' required autofocus)
        input(type='password' id='txtPassword' class='form-control' placeholder='Password' required)
        button(class='btn btn-primary' id='btnLogin') Log in
        button(class='btn' id='btnSignup') Sign up
        button(class='btn' id='btnLoginGoogle') Log in with google
        button(class='btn' id='btnLogout') Log out
    
    script(src='javascripts/login.js')